# User-specific files
*.env.*

# Build results
[Bb]in/
[Bb]uild/
[Oo]bj/
[Dd]eploy/

# Microsoft Fakes
.vs/

# Ignore VS project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CQtDeployer
[Ss]nap/
[Dd]istro/