[submodule "Vendors/rapidjson"]
	path = Vendors/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Vendors/opencv"]
	path = Vendors/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.x
[submodule "Vendors/base64"]
	path = Vendors/base64
	url = https://github.com/tobiaslocker/base64
[submodule "Vendors/json"]
	path = Vendors/json
	url = https://github.com/nlohmann/json.git
